.App {
  font-family: sans-serif;
}
ul {
  list-style: none;
}
.example-show-case {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-gap: 20px 50px;
}

.color {
  width: 100px;
  height: 100px;
  padding: 10px;
}

.expression {
  display: flex;
}
.expression-label {
  margin-right: 20px;
}
